
# golang
pkg/
/bin/
*.prof
*.mprof
*.coverprofile
*.test

# macOS
.DS_Store

# jetbrains
.idea

# bosh
.blobs
blobs
.dev_builds
dev_releases
config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz

# cleaner deps
/src/github.com/client9/misspell
/src/github.com/mdempsky/
/src/golang.org/x/tools/

deployment-vars.yml

# cert script output
/scalable-syslog-certs

# misc
out/
release/
*/bin
*.iml
*.pem
src/github.com/vito/gosub
src/github.com/codegangsta/cli
src/github.com/square/certstrap
src/github.com/jteeuwen/go-bindata
src/github.com/fatih/
src/github.com/josharian/
src/github.com/jstemmer/
src/github.com/klauspost/
src/github.com/zmb3/
